*,
*::before,
*::after {
  box-sizing: border-box;
}

section {
  min-height: 100vh;
}

@supports (height: 100dvh) {
  section {
    min-height: 100dvh;
  }
}

.sectionOne {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sTwo {
  height: 70vh;
  width: 100vw;
  caret-color: transparent;
}

.sectionTwo {
  background-image: url("../image/landscape.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sectionThree {
  background-color: #151414ff;
  color: white;
  gap: 20px;
}

.sectionFour {
  background-color: #151414ff;
}

.contactDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  color: white;
}

@media screen and (max-width: 768px) {
  .contactDetail {
    display: none;
  }
}

.SoME_logo img {
  height: 30px;
}

.SoME_logo {
  display: flex;
  gap: 20px;
}
