section {
  height: 100vh;
  width: 100vw;
}

.sectionOne {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sectionOne video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: 0;
}

.sectionOne > *:not(video) {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
}

#sTwo {
  height: 70vh;
  width: 100vw;
  caret-color: transparent;
}

.sectionTwo {
  background-image: url("../image/landscape.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contactDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  color: white;
}

.SoME_logo img {
  height: 30px;
}

.SoME_logo {
  display: flex;
  gap: 20px;
}

.contact_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.experience_image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

@media screen and (max-width: 768px) {
  .contact_image {
    height: 80%;
    justify-content: normal;
  }
  .experience_image {
    direction: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .experience_image img {
    height: 5px;
    width: 100px;
  }
}

.experience_image img {
  height: 100px;
}

#sThree {
  height: 200vh;
}

.sectionThree {
  background-color: black;
  color: white;
  gap: 20px;
}

.experience_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: purple;
  width: 100%;
  align-items: flex-end;
}

.education_div {
  color: blue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.exp_and_education {
  display: flex;
  color: purple;
  height: 90%;
  width: 100%;
}

.exp-education-detailed {
  display: flex;
  height: 10%;
}

.experience_detail {
  color: orange;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.education_detail {
  color: yellow;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}
