html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #4a87c0ff;
  font-family: Papyrus, fantasy;
  font-size: 25px;
  height: 7vh;
  row-gap: 3px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  caret-color: transparent;
}

@media screen and (max-width: 768px) {
  .navbar {
    font-size: large;
  }
}

.nav-item {
  color: white;
  text-decoration: none;
}

.nav-item:hover {
  color: red;
}

.nav-item.active {
  color: red;
}

.stickFoot {
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 40px;
  right: 40px;
  z-index: 1100;
  font-size: 20px;
  color: red;
  align-items: flex-end;
  justify-content: center;
}

#image_backHome {
  height: 50px;
}

@media screen and (max-width: 768px) {
  #image_backHome {
    height: 40px;
  }
}

#image_backHome:hover {
  transform: scale(1.2);
}

.aboutDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 40vw;
  justify-content: flex-start;
  caret-color: transparent;
}

.aboutDetail img {
  height: 50%;
}

#semi_logo {
  height: 12%;
}

#piz {
  color: red;
}

#h2Line {
  font-family: Papyrus, fantasy;
  font-size: large;
}

.contact_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 37.5%;
}

.experience_image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

@media screen and (max-width: 768px) {
  .contact_image {
    height: 80%;
    justify-content: normal;
  }
  .experience_image {
    direction: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .experience_image img {
    height: 5px;
    width: 100px;
  }
  #career_highlight {
    padding-top: 15px;
  }
}

.experience_image img {
  height: 100px;
}

.experience_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: purple;
  width: 100%;
  gap: 15px;
  padding-bottom: 10px;
  padding-left: 0.75rem;
}

.exp_card {
  --grad: red, blue;
  padding: 2.5rem;
  background-image: linear-gradient(to bottom left, #282b2cff, #333536ff);
  border-radius: 2rem;
  gap: 1.5rem;
  display: grid;
  grid-template: "title icon" "content content" "bar bar" / 1fr auto;
  font-family: system-ui, sans-serif;
  color: #ffffffff;
  box-shadow: inset -2px 2px hsl(0 0 100% / 1),
    -20px 20px 40px hsl(0 0 0 / 0.25);
  max-height: 15rem;
  min-width: 48rem;
}

@media screen and (max-width: 768px) {
  .exp_card {
    max-width: none;
    width: 100%;
    min-width: 0;
  }
}

.card {
  --grad: red, blue;
  padding: 2.5rem;
  background-image: linear-gradient(to bottom left, #282b2cff, #333536ff);
  border-radius: 2rem;
  gap: 1.5rem;
  display: grid;
  grid-template: "title icon" "content content" "bar bar" / 1fr auto;
  font-family: system-ui, sans-serif;
  color: #ffffffff;
  box-shadow: inset -2px 2px hsl(0 0 100% / 1),
    -20px 20px 40px hsl(0 0 0 / 0.25);
  min-height: 12.5rem;
}

.exp-education-detailed {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  gap: 1rem;
}

.experience_detail {
  color: orange;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5px;
}

.education_detail {
  color: yellow;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.experience_detail,
.education_detail {
  flex: 1;
  width: auto;
}

.rounded_element {
  font-family: inherit;
  font-size: 16px;
  border-radius: 16px;
  background-color: #dd5a4eff;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  transition: all 0.2s;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  font: bold;
}

.text_below_circle {
  font-family: Raleway;
  color: white;
}

.title_element {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: #ededed;
  margin-bottom: 1.5rem;
  letter-spacing: -1px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.education_title_element {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: #ededed;
  margin-bottom: 1.5rem;
  letter-spacing: -1px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 3rem;
}

#undertitle {
  font-size: 1.125rem;
  line-height: 1.8;
  color: #d0c2c2ff;
  max-width: 900px;
  margin: 0 auto;
  text-wrap: balance;
  text-align: center;
}

.subtitle {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  font-weight: 400;
  color: #ff4d4f;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
  position: relative;
  align-items: center;
  justify-content: center;
}

.under_line {
  width: 112px;
  height: 47px;
  border-bottom: 1px solid red;
  position: absolute;
}
