html {
  scroll-behavior: smooth;
}

.mobile_navbar,
.off-screen-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .off-screen-menu {
    background-color: rgba(34, 37, 49);
    color: white;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: 0.3s ease;
    z-index: 2000; /* z-index literally controls depth, what's comes in front and what's behind.*/
  }
  .off-screen-menu.initiate {
    right: 0;
  }

  .off-screen-menu ul {
    list-style: none;
    padding: 0;
  }

  .off-screen-menu a {
    text-decoration: none;
    color: white;
  }

  .off-screen-menu a:hover {
    color: red;
  }

  nav {
    padding: 1rem;
    display: flex;
    background-color: rgba(20, 21, 28, 1);
    z-index: 2000;
  }

  .mobile_navbar {
    z-index: 2100;
    height: 40px;
    width: 40px;
    margin-left: auto;
    position: relative;
  }

  .mobile_navbar span {
    height: 5px;
    width: 100%;
    background-color: #6f86ff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3 ease;
  }
  .mobile_navbar span:nth-child(1) {
    top: 25%;
  }
  .mobile_navbar span:nth-child(3) {
    top: 75%;
  }
  .mobile_navbar.initiate span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .mobile_navbar.initiate span:nth-child(2) {
    opacity: 0;
  }
  .mobile_navbar.initiate span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(74, 135, 192, 0.6);
  backdrop-filter: blur(10px);
  font-family: Papyrus, fantasy;
  font-size: 20px;
  height: 5vh;
  row-gap: 3px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  caret-color: transparent;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar.hidden {
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    /* font-size: large; */
    display: none;
  }
}

.nav-item {
  color: white;
  text-decoration: none;
}

.nav-item:hover {
  color: red;
}

.nav-item.active {
  color: red;
}

.stickFoot {
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 40px;
  right: 40px;
  z-index: 1100;
  font-size: 20px;
  color: red;
  align-items: flex-end;
  justify-content: center;
}

#image_backHome {
  /* id can also have its own class that you can use in javascript, like this */
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#image_backHome.hideSticker {
  opacity: 0;
  pointer-events: none;
}

#image_backHome:hover {
  transform: scale(1.2);
}

#image_backHome {
  height: 50px;
}

@media screen and (max-width: 768px) {
  #image_backHome {
    height: 40px;
  }
}

.wordMix {
  position: absolute;
  left: 1;
  right: 0;
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
  transform: translateX(-100%);
  pointer-events: none;
}

.wordMix.show {
  position: static;
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.aboutDetail {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 40vw;
  justify-content: flex-start;
  caret-color: transparent;
}

.aboutDetail img {
  height: 50%;
}

#semi_logo {
  height: 12%;
}

#piz {
  color: red;
}

#h2Line {
  font-family: Papyrus, fantasy;
  font-size: large;
}

.contact_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 37.5%;
}

.experience_image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

@media screen and (max-width: 768px) {
  .contact_image {
    height: 80%;
    justify-content: normal;
  }
  .experience_image {
    direction: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .experience_image img {
    height: 5px;
    width: 100px;
  }
  #career_highlight {
    padding-top: 15px;
  }
}

.experience_image img {
  height: 100px;
}

.text_below_circle {
  font-family: Raleway;
  color: white;
}

.title_element {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: #ededed;
  margin-bottom: 1.5rem;
  letter-spacing: -1px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.education_title_element {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: #ededed;
  margin-bottom: 1.5rem;
  letter-spacing: -1px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 3rem;
}

#undertitle {
  font-size: 1.125rem;
  line-height: 1.8;
  color: #d0c2c2ff;
  max-width: 900px;
  margin: 0 auto;
  text-wrap: balance;
  text-align: center;
}

.subtitle {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  font-weight: 400;
  color: #ff4d4f;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
  position: relative;
  align-items: center;
  justify-content: center;
}

.under_line {
  width: 112px;
  height: 47px;
  border-bottom: 1px solid red;
  position: absolute;
}

.skills_div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 100px;
  padding-left: 0.75rem;
}

.skills_div img {
  height: 150px;
}

.footer_section {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  color: white;
}
